
<p *ngIf="isAuthenticated">Bem vindo ({{userLogged?.user?.nome}})</p>
<button class="btn-primary" (click)="showList = !showList">{{'Novo usuário'}}</button>
<div *ngIf="!showList">
  <form>
    <div class="form-group">
      <label for="exampleInputName">Nome:</label>
      <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Nome" [(ngModel)]="user.nome" name="nome">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Email:</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" [(ngModel)]="user.email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Senha:</label>
      <input type="password" class="form-control" id="exampleInputSenha" placeholder="Senha" [(ngModel)]="user.senha" name="senha">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Confirmar Senha:</label>
      <input type="password" class="form-control" id="exampleInputConfirmarSenha" placeholder="ConfirmarSenha" [(ngModel)]="user.confirmarsenha" name="confirmarsenha">
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
  </form>
</div>
<div *ngIf="!isAuthenticated && showList">
  <form>
    <div class="form-group">
      <label for="exampleInputEmail">Email:</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" [(ngModel)]="userLogin.email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail">Senha:</label>
      <input type="password" class="form-control" id="exampleInputSenha" placeholder="Senha" [(ngModel)]="userLogin.senha" name="senha">
    </div>
    <button type="submit" class="btn btn-primary" (click)="authenticate()">Login</button>
  </form>
</div>
