<div>
  <form>
    <div class="form-group">
      <label for="exampleInputNome">Nome:</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Nome" [(ngModel)]="transacao.nome" name="nome">
    </div>
    <div>
      <label for="exampleInputPortfolios">Portfolios:</label>
      <select name="selectedPortifolio" id="aantal" class="form-control" [(ngModel)]="selectedPortifolio">
        <option *ngFor="let portifolioItem of portifolios" [value]="portifolioItem.Id">{{portifolioItem.nome}}</option>
      </select>
    </div>
    <div>
      <label for="exampleInputAtivo">Ativo:</label>
      <select name="selectedAtivo" id="aantal" class="form-control" [(ngModel)]="selectedAtivo">
        <option *ngFor="let ativoItem of ativos" [value]="ativoItem.Id">{{ativoItem.nome}}</option>
      </select>
    </div>
    <div>
      <label for="exampleInputTipoTransacao">Tipo Transação:</label>
      <select name="selectedTipoTransacao" id="aantal" class="form-control" [(ngModel)]="selectedTipoTransacao">
        <option *ngFor="let tipoTransacao of tipoTransacao" [value]="tipoTransacao.Id">{{tipoTransacao.descricao}}</option>
      </select>
    </div>
    <div>
      <label for="exampleInputNome">Quantidade:</label>
      <input type="number" class="form-control" id="exampleInputQuantidade" placeholder="Quantidade" [(ngModel)]="transacao.quantidade" name="quantidade">
    </div>
    <div>
      <label for="exampleInputNome">Preço:</label>
      <input type="text" class="form-control" id="exampleInputPreco" placeholder="Preco" [(ngModel)]="transacao.preco" name="preco">
    </div>
    <div class="div-submit">
      <button type="submit" class="btn btn-primary" (click)="save()">Salvar</button>
    </div>
  </form>
</div>
<div>
  <div *ngIf="showList">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Actions</th>
          <th scope="col">Nome</th>
          <th scope="col">Portfolio</th>
          <th scope="col">Ativo</th>
          <th scope="col">Tipo Transação</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transacaoItem of transacoes">
          <th scope="row">
            <button class="btn-primary" (click)="openDetails(user)">Editar</button>
            <button class="btn-danger" (click)="delete(user)">Excluir</button>
          </th>
          <th scope="row">{{transacaoItem.id}}</th>
          <th scope="row">{{transacaoItem.nome}}</th>
          <th scope="row">{{transacaoItem.portfolio.nome}}</th>
          <th scope="row">{{transacaoItem.ativo.nome}}</th>
          <th scope="row">{{transacaoItem.tipotransacao}}</th>
          <th scope="row">{{transacaoItem.quantidade}}</th>
          <th scope="row">{{transacaoItem.preco}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
